<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288787620207-g7qi86osi1qvie2tl2cl1katlqf4367c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288787620207-g7qi86osi1qvie2tl2cl1katlqf4367c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkjgGTiel8tcKJeQ1ufL4AUEGw6ichmTs</string>
	<key>GCM_SENDER_ID</key>
	<string>288787620207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seonhui.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-101-b5df0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-b5df0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288787620207:ios:8566f5b278268bc458089a</string>
</dict>
</plist>